body {
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/2989da120242593.60adeb7e781fc.gif);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

div {
  width: 230px;
  height: 230px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  color: white;
  font-size: 18px;
  display: flex;
  border-radius: 30px;
  margin-top: 45px;
  margin-left: 7em;
}

button {
  color: #06e2ed;
  font-size: medium;
  font-weight: bold;
  width: 7em;
  height: 5em;
  margin-top: 2em;
  margin-left: 5em;
  cursor: pointer;
  border-radius: 3em;
  border-color: #06e2ed;
  background: rgba(0, 0, 0, 0.6);
}

button:hover {
  color: #f80693;
  border-color: #f80693;
}

.sure {
  margin: top 10px;
  margin-left: 25px;
  color: #06e2ed;
}

.sure:hover {
  color: #fad5f9;
}
